<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-title">
                <h2>URL Shortner</h2>
            </div>
            <div class="body">
                <form action="" method="post">
                    <label for="url">URL:</label>
                    <input type="search" id="url" placeholder="Enter URL"><br>
                    <input type="button" name="submit" value="Get Short URL">
                </form>
            </div>
        </div>
    </div>
</body>
</html>