<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<style>
    .container-fluid {
        background-image: url('products/flower-background-22.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center;
      }
</style>

<body>
    <div class="container-fluid">
        <h1 class="text-center">Flower Blog</h1>
        <br>

        <div class="row">
            {%for product in products%}
            <div class="col-md-4">
                <div class="card">
                    <a href="{% url 'product_details' product.pk %}">
                        <picture>
                            <img src="{{product.image.url}}" class="img-thumbnail" alt="{{ product.created_name }}" style="height: 450px; width: auto;">
                        </picture>
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">{{product.name}}</h2>
                        <p class="card-description">{{ product.short_description }}</p>
                        <a class="link-opacity-100-hover" href="{%url "product_details" product.pk%}">
                            <strong>View</strong>
                        </a><br>
                        <small>Created at {{product.create_at}}</small><br>
                        <small>Updated at {{product.update_at}}</small>
                    </div>
                </div>
                
            </div>
            {%endfor%}
        </div>
    </div>
</body>
</html>
