{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Expand smERP Chat bot. Type 'bye' to exit.</h1><br>
        <h1>ChatBot</h1> 
        <div class="card">
            <div class="card-body">
                <form method="post" id="chatForm">
                    {% csrf_token %}
                    <textarea rows="5" cols="60" class="card-text-input" name="prompt_text" type="text" placeholder="Enter Your Prompt"></textarea><br><br>
                    <input type="submit" value="Get Response"><br><br>
                </form>
                <h2>Response</h2>
                <div id="responseContainer">
                    {% for message in history %}
                        <p><strong>You:</strong> {{ message.user }}</p>
                        <p><strong>ChatBot:</strong> {{ message.ai }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('chatForm').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const formData = new FormData(this);
            fetch("{% url 'chatbot' %}", {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.task_id) {
                    setInterval(() => checkTaskStatus(data.task_id), 2000); // Check every 2 seconds
                }
            })
            .catch(error => console.error('Error:', error));
        });

        function checkTaskStatus(taskId) {
            fetch(`/get_chatbot_response/${taskId}/`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('responseContainer').innerHTML += `<p><strong>ChatBot:</strong> ${data.ai_data}</p>`;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
